@import "tailwindcss";

/* ---------- GLOBAL DARK UI ---------- */

html,
body {
  background-color: #090b0d;
  color: #e5e7eb; /* slate-200 */
  min-height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
}

/* ---------- SCROLLBAR ---------- */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
